main p {
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

section img {
    width: 400px;
    max-width: calc(100% - 2rem);
    margin: 1rem;
}

section {
    max-width: 1200px;
    display: flex;
    margin: 80px 0;
    align-items: center;
    gap: 100px;
}


section p {
    font-size: 20pt;
    line-height: 32pt;
}


section:nth-child(even) {
    flex-direction: row-reverse;    
}

section:nth-child(even) p { 
    text-align: justify;
}

section:nth-child(odd) p { 
    text-align: justify;
}


